*.css   text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.pug   text eol=lf

*.jpg   binary
*.jpeg  binary
*.png   binary
*.ttf   binary

.gitattributes text eol=lf
.gitignore text eol=lf

/node_modules/** binary
