*.css   text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.pug   text eol=lf
*.sh    text eol=lf
*.txt   text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf

*.cmd   text eol=crlf
*.bat   text eol=crlf
*.ps    text eol=crlf

*.jpg   binary
*.jpeg  binary
*.otf   binary
*.pdf   binary
*.png   binary
*.ttf   binary

.gitattributes text eol=lf
.gitignore text eol=lf
.npmignore text eol=lf
LICENSE text eol=lf
README text eol=lf

/bower_components/** binary
/node_modules/** binary
