extends layout.pug

block body
  section
    h1.center= title
    if markdown
      != markdown
      if nextpage
        a(href=[ '', getLocale() ].concat(stackpages).concat([ __(subpage.title) ]).join('/').toLowerCase().split(' ').join('-'))= nextpage
    ul.grid-logo
      each subpage in subpages
        li.grid
          a(class=(subpage.acl && (!user || !user[subpage.acl]) ? 'disabled' : '') href=[ '', getLocale() ].concat(stackpages).concat([ __(subpage.title).toLowerCase().split(' ').join('-').split('/').join('-') ]).join('/'))
            p= __(subpage.title)
