extends layout.pug

mixin subpage(name)
  li
    a(href='/' + getLocale() + '/' + __('Burn Etiquette').toLowerCase().split(' ').join('-') + '/' + __(name).toLowerCase().split(' ').join('-'))= __(name)

block body
  section
    if markdown
      != markdown
      if nextpage
        a(href='/' + getLocale() + '/' + __('Burn Etiquette').toLowerCase().split(' ').join('-') + '/' + __(nextpage).toLowerCase().split(' ').join('-'))= nextpage
    else
      h1= __('Burn Etiquette')
      ul
        each subpage in subpages
          +subpage(subpage.title)
