extends layout.pug

block body
  section
    if markdown
      != markdown
      if nextpage
        a(href='/' + getLocale() + '/' + __('Burn Etiquette').toLowerCase().split(' ').join('-') + '/' + __(nextpage).toLowerCase().split(' ').join('-'))= nextpage
    else
      h1= __('Burn Etiquette')
      ul
        each subpage in subpages
          li
            a(href='/' + getLocale() + '/' + __('Burn Etiquette').toLowerCase().split(' ').join('-') + '/' + __(subpage.title).toLowerCase().split(' ').join('-'))= __(subpage.title)
