doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1 Welcome!
    p= 'Your password is ' + password + '.'
    p If you did not register for anything, just ignore this message.
= '\n'
