doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1= 'Congratulations! You are going to DeJā' + (typeof visaPeriod === 'string' ? ' ' + visaPeriod : '') + '!'
    p You won't get bombarded with many emails, but you will receive a few with all the information between now and DeJā.
    p Slack will be inviting you to join the Baltic Burners team. Use it to communicate, to organize and to plan.
= '\n'
