doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1 Thank you for your submission!
    p You will be receiving another email with more information.
= '\n'
