doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1= 'Hello! Enclosed is a re-issue of your entry for DeJā' + (typeof visaPeriod === 'string' ? ' ' + visaPeriod : '') + '.'
    p Our sincere apologies for letting 2017 let slip through in the previously issued entry paperwork to you.
    p As always, see you soon!
= '\n'
