doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1 Congratulations, here's your entry into DeJā 2017.
    p You will need to show the digital or print-out of the visa when you arrive at the gate.
= '\n'
