doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1= 'Congratulations! Enclosed is your entry for DeJā' + (typeof visaPeriod === 'string' ? ' ' + visaPeriod : '') + '.'
    p You will need to show a digital copy or a printout of it when you arrive at the gate.
    p There are 3 attachments in this email. Read them all. Information about donations, meal plan and Slack are enclosed as well as the directions to the property. Please do not share these.
    p Slack will be inviting you to join the Baltic Burners team. Use it to communicate, to organize and to plan. See you soon!
= '\n'
