doctype html
= '\n'
html
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    h1= 'A new Visa (#' + visaId + ') for DeJā ' + visaPeriod + ' has been issued to ' + name + '.'
    each section, sectionTitle in fae
      br
      h2= sectionTitle
      each answer, question in section
        p
          b= question
          = ': ' + answer
= '\n'
