extends layout.pug

block body
  if user
    section.entry-status
      img.center(src='/images/logo_white.png' alt=__('Logo of Degošie Jāņi') width='750' height='750')
      p= __('Thank you for your registration')
      p= __('Your confirmation email has been sent')
      != markdown || ''
