extends layout.pug

block body
  if siblingpages && siblingpages.length > 0
    section
      ul.siblingpages
        each siblingpage in siblingpages
          li.siblingpage
            a(class=(__(siblingpage.title) === title || (siblingpage.acl && (!user || !user[siblingpage.acl])) ? 'disabled' : '') class=(__(siblingpage.title) === title ? 'current' : '') href=[ '', getLocale() ].concat(stackpages.slice(0, stackpages.length - 1)).concat([ __(siblingpage.title).split('/').join('-') ]).join('/').toLowerCase().split(' ').join('-'))
              p= __(siblingpage.title)
  section
    if markdown
      != markdown
    // TODO QUESTION AWAY
    if nextpage
      a.nextpage(href=[ '', getLocale() ].concat(stackpages.slice(0, stackpages.length - 1)).concat([ __(nextpage).split('/').join('-') ]).join('/').toLowerCase().split(' ').join('-'))= __('Next Page')
