doctype html
= '\n'
html(lang=getLocale())
  = '\n'
  head
    meta(charset='utf-8')
    title Degošie Jāņi
    link(rel='icon' href='/favicon.png')
  body
    if target
      a(href=target)= target
= '\n'
