extends layout.pug

block body
  section
    if markdown
      != markdown
      if nextpage
        a(href='/' + getLocale() + '/' + __('Survival Guide').toLowerCase().split(' ').join('-') + '/' + __(nextpage).toLowerCase().split(' ').join('-'))= nextpage
    else
      h1.center= __('Survival Guide')
      ul
        each subpage in subpages
          li.grid
            a(class=(subpage.acl && (!user || !user[subpage.acl]) ? 'disabled' : '') href='/' + getLocale() + '/' + __('Survival Guide').toLowerCase().split(' ').join('-') + '/' + __(subpage.title).toLowerCase().split(' ').join('-'))
              p= __(subpage.title)
