extends layout.pug

block body
  section
    .tree-front
      img(src='/images/principles/' + title.toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') + '.svg' alt=(__(title) || ''))
      p= __(title) || ''
    != markdown || ''
