extends layout.pug

block body
  section
    .tree-front
      img(src='/images/principles/' + principle.toLowerCase().split(' ').join('-') + '.png' alt=(__(principle) || ''))
      p= __(principle) || ''
    != markdown || ''
