extends layout.pug

block body
  section
    .tree-front
      != svg('images/principles/' + (origTitle || title).toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') + '.svg')
      p= __(title) || ''
    != markdown || ''
