extends layout.pug

block body
  if user
    section
      != markdown || ''
    section
      form.visa-application(action=altLocales[getLocale()] method='post')
        div.buttons
          button(type='submit')= __('Apply').toUpperCase()
